.project-closed {
  //height: 33%;
  width: 30vw;
  //height: auto;
  flex-grow: 0;
  aspect-ratio: 1 / 1.3;
  border: 4px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}

// .project-closed:hover {
//   filter: drop-shadow(2px 2px 7px #000000);
// }

.project-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#00000000 60%, #0000005a);
  transition: all 0.5s ease;
}

.project-img {
  width: 100%;
  height: 100%;
  filter: none;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}

.project-closed:hover .project-img {
  width: 110%;
  height: 110%;
  filter: blur(4px) invert(30%);
}

.view {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
  opacity: 0%;
  transition: all 0.5s ease;
  z-index: 1;
}

.project-closed:hover .view {
  opacity: 100%;
}

// .project-closed:hover .project-fade {
//   //background-image: radial-gradient(#00000000 60%, #00000000);
// }
