.bullet {
  height: 20px;
  width: 20px;
  background-color: rgb(34, 36, 48);
  border-radius: 50%;
  margin-left: -33px;
  margin-bottom: -28px;
}

.drop-arrow {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30%;
  transition: all 0.5s ease;
}

.drop-arrow:hover {
  background-color: rgb(20, 157, 221);
  cursor: pointer;
}

.subheading {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0 0 30px;
}
