.page-container {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.text-container {
  margin: 50px 0;
  padding: 10px 20px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.623) 10%,
    rgba(255, 255, 255, 0)
  );
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  //display: flex;
  //align-items: center;
  //align-content: space-around;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.about {
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  width: 80%;
  margin: 20px 10% 0% 10%;
  text-shadow: 4px 0px 4px black;
}

.about-text {
  h1 {
    font-size: 50px;
  }
  p {
    color: rgb(0, 0, 0);
    font-weight: bold;
    //background-color: rgba(255, 255, 255, 0.438);
    font-size: 18px;
    border-radius: 10%;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
  }

  h2 {
    font-size: 30px;
  }
}
