.page-container-contact {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.page-container-contact::-webkit-scrollbar {
  display: none;
}

.contact {
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 4px 0px 4px black;
  //width: 80%;
  margin: 20px 10% 0 10%;
}

.contact-text {
  h1 {
    font-size: 50px;
    margin-bottom: 60px;
  }
  p {
    font-size: 25px;
    margin-left: 30px;
    text-shadow: 0px 0px 4px black;
    font-weight: bold;
  }

  transition: all 0.5s ease;
}

.details-container {
  width: 60vw;
  height: 60vh;
  min-height: 250px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.623) 10%,
    rgba(255, 255, 255, 0)
  );
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  display: flex;
  align-items: center;
  align-content: space-around;
}
