.page-container-cv {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgb(171, 249, 243)
  );
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
}

.cv {
  font-family: "Raleway", sans-serif;
  color: rgb(34, 36, 48);
  //width: 80%;
  margin: 20px 10% 0 10%;
  transition: all 0.5s ease;
}

.cv-text {
  h1 {
    font-size: 50px;
    margin-bottom: 60px;
  }
  p {
    font-size: 18px;
    margin-left: 10px;
  }

  h2 {
    font-size: 30px;
    margin: 0;
  }

  h3 {
    margin: 0 20px 0 0;
  }

  ul {
    font-size: 18px;
    margin-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }
  transition: all 0.5s ease;
}

.cv-content-cotainer {
  display: flex;
  justify-content: flex-start;
  //flex-wrap: wrap;
  transition: all 0.5s ease;
  margin-left: 20px;
  margin-bottom: 50px;
}

.side-link {
  height: auto;
  overflow: visible;
  width: 6px;
  margin: 12px 0 0 5px;
  //height: 100px;
  background-color: rgb(34, 36, 48);
  flex: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.side-link-bottom {
  background-color: rgb(34, 36, 48);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-bottom: -3px;
}

.timescale-content {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.block-text {
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 40px;
  //border: 4px solid black;
  transition: all 1s ease;
  overflow: hidden;
}
