.page-container-projects {
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(#ffffff, #004979);
  display: flex;
  flex-direction: column;
}

.projects {
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 4px 0px 4px black;
  height: fit-content;
  margin: 20px 10% 0 10%;
  h1 {
    font-size: 50px;
    //margin-bottom: 60px;
  }
}

.box-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.project-container {
  display: flex;
  justify-content: space-between;
  //min-width: 50%;
}

// .project-container:hover {

// }