.menu-list-container {
  margin-left: 30%;
}

.menu-link {
  width: fit-content;
  block-size: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-decoration: none;
  color: rgb(195, 195, 195);
}

.menu-link:hover > .menu-link-img {
  width: 50px;
  height: 50px;
  margin-left: 5%;
}

.menu-link:hover > .menu-link-label {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.menu-link-img {
  box-sizing: border-box;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: height 0.5s ease, width 0.5s ease, margin-left 0.5s ease;
}

.menu-link-label {
  font-family: revert;
  font-size: 15px;
  margin: 0;
  padding-left: 10px;
}

.highlighted-img {
  filter: invert(50%) sepia(20%) saturate(3837%) hue-rotate(167deg)
    brightness(94%) contrast(85%); //using a filter generator to change colour
}
