.App {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.sidebar {
  height: 100vh;
  transition: all 0.5s ease;
  z-index: 1;
}

.sidebar-button {
  position: sticky;
  width: 0;
  z-index: 2;
}

.main {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

@media (max-width: 700px) {
  .main {
    position: absolute;
    width: 100vw;
  }
  .sidebar:hover {
    width: 300px;
  }
}

.mobile-message-modal {
  position: fixed;
  visibility: hidden;
}

.mobile-message {
  position: fixed;
  visibility: hidden;
}

@media (max-width: 500px), (max-height: 500px) {
  .mobile-message {
    visibility: visible;
    height: 10%;
    width: 30%;
    z-index: 3;
    color: rgb(73, 0, 0);
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10%;
    border: 4px solid rgb(73, 0, 0);
    margin: auto;
    padding: 10px;
    top: 45%;
    bottom: 45%;
    left: 35%;
    right: 35%;
    align-items: center;
    display: flex;
    align-items: center;
  }

  .mobile-message-modal {
    visibility: visible;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(150, 150, 150, 0.485);
  }
}
