.page-container {
  display: flex;
  flex-direction: column;
}

.element-container {
  display: flex;
  flex-direction: column;
  margin: auto auto auto 15vw;
  align-items: flex-start;
}

.title {
  left: 0px;
  margin-left: 0;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-shadow: 4px 4px 4px black;
  //transition: all 0.5s;
}

.title-h1 {
  font-size: 50px;
  animation: animateh1 20s infinite;
}

.title-h2 {
  animation: animateh2 20s infinite;
}

@keyframes animateh1 {
  0% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  8.33% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  12.5% {
    margin-top: -10px;
    margin-left: 10px;
    text-shadow: 15px -15px 4px black;
  }

  20.83% {
    margin-top: -10px;
    margin-left: 10px;
    text-shadow: 15px -15px 4px black;
  }

  25% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  33.33% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  37.5% {
    margin-top: -10px;
    margin-left: -10px;
    text-shadow: -15px -15px 4px black;
  }

  45.83% {
    margin-top: -10px;
    margin-left: -10px;
    text-shadow: -15px -15px 4px black;
  }
  50% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  58.33% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  62.5% {
    margin-top: 0px;
    margin-left: 20px;
    text-shadow: -15px 15px 4px black;
  }

  70.83% {
    margin-top: 0px;
    margin-left: 20px;
    text-shadow: -15px 15px 4px black;
  }

  75% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  83.33% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  87.5% {
    margin-top: 0px;
    margin-left: -20px;
    text-shadow: 15px -15px 4px black;
  }

  95.83% {
    margin-top: 0px;
    margin-left: -20px;
    text-shadow: 15px -15px 4px black;
  }

  100% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }
}

@keyframes animateh2 {
  0% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  8.33% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  12.5% {
    margin-top: 10px;
    margin-left: -10px;
    text-shadow: -15px 15px 4px black;
  }

  20.83% {
    margin-top: 10px;
    margin-left: -10px;
    text-shadow: -15px 15px 4px black;
  }

  25% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  33.33% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  37.5% {
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: 15px 15px 4px black;
  }

  45.83% {
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: 15px 15px 4px black;
  }
  50% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  58.33% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  62.5% {
    margin-top: 0px;
    margin-left: -20px;
    text-shadow: 15px 15px 4px black;
  }

  70.83% {
    margin-top: 0px;
    margin-left: -20px;
    text-shadow: 15px 15px 4px black;
  }

  75% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  83.33% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }

  87.5% {
    margin-top: 0px;
    margin-left: 20px;
    text-shadow: -15px -15px 4px black;
  }

  95.83% {
    margin-top: 0px;
    margin-left: 20px;
    text-shadow: -15px -15px 4px black;
  }

  100% {
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px black;
  }
}
